<h1 class='headinghome'>Happy cooking</h1>
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXnOc9xlwSl6eGg6ZE7ZlxtPUkP3er-UADOQ&usqp=CAU');"
>
  <h1 class="mb-3 h2">The Cooking App</h1>
  <p>
  Discover new dishes you will love
  Recipe communities on Happy cooking help you share and discover the recipes that fit your eating preferences, restrictions, needs, and more.
  </p>
</div>

<%= button_to 'Get Started' ,login_path ,:method => 'get', :class => "btn btn-outline-success"%>


