/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= @import "font-awesome";
 */

 body {
    background-color: #e6f9ff
 }
 .headinghome{
    padding-top:60px;
    padding-bottom:10px;
 }

 .navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }
 
 
 .animated {
    opacity: 0.5;
    width: 500px;
    transition: 2s;
 }

 .animated:hover {
    width: 1000px;
    opacity: 1;
 }
/* Recipe - Heading w picture */

.headingwithpicture {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.recipe-image{
    border-radius: 50px;
}

/* row */
.meals {
    margin-top: 17%;
}

.meals img {
    box-shadow: 5px 10px 15px 5px #bfbfbf;
}

 /* LIKES */

 .likes {
    padding: 1em;
    margin-left: -33.5em;
 }

 .like_group {
  display: inline-block;
 }


.like_button {
    background-color: grey;
    border: none;
    width: 60px;
    transition: 0.5s;
 }

 .like_button:hover {
    background-color: #ffb3b3;
    width: 120px;
}
.category-item{
color:green;
}

