
<div class="row" >
<% @categories.each do |category| %>
   <div class='col-md-4 meals'>
        <%= category.name %>
     <%= link_to image_tag(category.image,:class => 'img-fluid'), category %>
    </div>
<% end %>
</div>







